@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');




:root {
  --color-primary: #111213ff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #212224ff;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.btn-primary{
  background-color: rgb(209, 41, 33) !important;
  border-color: grey;
}

.btn-primary:hover{
  background-color: rgb(194, 42, 34) !important;
  color: black;
  border-color: grey;
}